[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
dataclasses-json = "*"
pynacl = "*"
websockets = "*"
apscheduler = "*"
hikari = "2.0.0.dev105"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
